.contact{
    margin:25% 20% auto;
    width: auto;
    position: relative;
}

.contact2{
    margin:15px 15px 15px 20%;
    width: auto;
    height: 15%;
    }

.icon{
    width: 25px;
    height: 25px;
    float: left;
    padding-right: 15%;
    padding-bottom: 25px;
}

 
    
