
.jb-a {
    height: 26px;
    position: relative;
    margin-right:14px;
    float: left;
  }
  .jb-b {
    width: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
  transition: all 0.4s linear;
  }


.jb-a:hover .jb-b{display: block;opacity: 1; cursor:pointer;}
.jb-c {
    height: 26px;
    position: relative;
    margin-right:14px;
    float: left;

  }
  .jb-d {
    width: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
  transition: all 0.4s linear;
  }

.jb-c:hover .jb-d{display: block;opacity: 1; cursor:pointer;}

.jb-e {
    height: 26px;
    position: relative;
    margin-right:14px;
    float: left;

  }
  .jb-f {
    width: 26px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
  transition: all 0.4s linear;
  }

.jb-e:hover .jb-f{display: block;opacity: 1; cursor:pointer;}

.jb-a:hover .inform{color:black;
    transition: color 1.5s linear;}

.inform {
    color:white;
    position: relative;
    margin-top: 30px;}


