.p {
  animation-duration: 1.3s;
  animation-name: slidein;
}  
@keyframes slidein {
  from {
    margin-left: 9%;
    opacity: 0;

  }

  to {
    margin-left: 20%;
    opacity: 1;
  }
}

.p2 {
  animation-duration:2s;
  animation-name: slidein;
}  
@keyframes slidein {
  from {
    margin-left: 0%;
    opacity: 0;

  }

  to {
    margin-left: 20%;
    opacity: 1;
  }

  40%{
    opacity: 0;
  }
}

.p3{
  animation-duration: 2.3s;
  animation-name: hide;
}
@keyframes hide{
  from{opacity:0;}
  to{opacity:0.9;}
  50%{opacity: 0;}
}

.p4 {
  animation-duration: 2.3s;
  animation-name: opacity;
}  
@keyframes opacity{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  50%{opacity: 0;}
}