.left{
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: white;
    float: left;
    position: fixed;
}
.center{
width:50%;
padding:auto;
margin:10% 20% auto;
}
.ubuntu {font-family:"Ubuntu";color: #2E2E2E;}
.bold{font-weight:500;
line-height: 150%;}
.regular{font-weight: 400;}
.light{font-weight: 300;}
.big{font-size: 25pt;}
.midium{font-size:18pt;}
.small{font: 13pt;}
.xsmall{font: 10pt;}
.box{
    width:70%;
    height:70%; 
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.underbox{
    width: 70%;
    position: absolute;bottom: 3%;left: 7%;
    text-align: start;
}
.underringhtbox{
    width:60px;height: 60px;
    border-radius: 30px;
    background-color: white;
    position: absolute;bottom: 5%;right: 5%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    opacity: 95%;
}
.topleftbox{
    position: absolute; top: 5%; left:7%;
}

.underringhtbox:hover{
    box-shadow: 5px 9px 28.5px 1.5px rgba(0, 0, 0, 0.4) ;
    opacity: 1;
    cursor: pointer;
}
.underringhtbox:hover{transform: translateY(-10px);}
.underringhtbox{transform: translateY(0px); transition:all 0.8s ease;} 

.right{
    width: 60%;
    height: 100vh;
    float: right; 
    position:relative;
    display: flex;
    text-align: center;
    

    
}
.yellow{
    background-color: #f4b93d;
}
.blue{
    background-color: #005ba9;
}
.darkgrey{
    background-color: #606060;
}
.brightmint{
    background-color: #ACE2D5;
}

.logo{width: 30%; 
}
.white{color: white;
opacity: 0.9;}
